section.secao-gera-senha-padrao {
    border: 1px solid red;
    width: 70%;
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.form-senha-padrao {
    display: flex;
    flex-direction: column;
}
