section.secao-gera-senha-padrao {
    width: 70%;
    min-width: 200px;
    max-width: px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.secao-gera-senha-padrao > form.form-senha-padrao label, select {
    margin: 50px 5px 25px 5px;
}

input.btn-senha-padrao {
    margin: 0 auto 20px 10px;
}

select.opcoes {
   padding: 10px 5px;
   font-size: 1.1rem;
   font-weight: 500;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

@media screen and (max-width:650px) {
    .form-senha-padrao {
        display: flex;
        flex-direction: column;
    }

    .section-senha-padrao {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form-senha-padrao .opcoes {
        margin: 5px auto 10px auto;
    }

    .form-senha-padrao .opcoes, input.btn-senha-padrao, .section-senha-padrao input  {
        width: 85%;
    }

    .form-senha-padrao label, .section-senha-padrao p {
        font-size: 1.6rem;
        margin: 0;
    }

    input.btn-senha-padrao {
        margin: 5px auto 50px auto;
    }
}